@font-face
  font-family: Gramatika
  src: url(fonts/GramatikaRegular.woff)

@font-face
  font-family: Gramatika_Italic
  src: url(fonts/GramatikaSlanted.woff)

@font-face
  font-family: Gramatika_Bold
  src: url(fonts/GramatikaBold.woff)

@font-face
  font-family: Gramatika_Bold_Italic
  src: url(fonts/GramatikaBoldSlanted.woff)



$font-stack: 'Gramatika_Bold', sans-serif
// $skew-positive: 2.5deg
// $skew-negative: -2.5deg

*
  margin: 0
  padding: 0




body
  font: 100% $font-stack
  background-color: white
  color: black
  width: 100vw
  // overflow-x: hidden

  main
    // background: rgb(63,94,251)
    // background: radial-gradient(linear, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
    height: 200vh

    nav
      // background-color: yellow
      display: flex
      // justify-content: space-between
      position: relative


      section.about
        position: fixed

        h1
          font-size: 2.2vw

          span.to-right
            display: inline-block
            float: right
            font-style: italic

        &_left
          width: 26vw

          h1
            margin: 30px 0  0 15px

        &_right
          right: 0
          top: 0

          h1
            float: right
            margin: 30px 15px  0 0
            cursor: default



        &_info
          top: 10px
          width: 25vw
          left: 50vw
          display: none

          p
            font-size: .8em
            letter-spacing: .02em

            a
              text-decoration: underline
              cursor: pointer
              color: blue

          &.in_view
            display: block

          span.close
            width: 30px
            height: 30px
            cursor: pointer
            position: absolute
            top: 0
            left: -30px




body
  main
    img.hi-2-u
      position: fixed

      &-right
        bottom: 0
        right: 00vw
        width: 350px
        display: none
      &-left
        top: 60vh
        left: 5vw
        width: 15vw
      &.in_view
        display: block


body
  main
    section.document
      margin-top: 12vw
      margin-left: 32vw

      .project
        h3
          font-size: .9em

          &:nth-child(1)
            color: blue
            text-decoration: underline
          &:last-of-type
            margin-bottom: 5px



        .element
          // background-color: yellow
          border: 1px black solid
          width: 50vw
          min-height: 90vh
          height: auto

          img
            width: 20px
            height: auto




        // &:hover .middle
        //   display: block
          // &:hover
          //   &.middle
          //     display: block
