$phone: 540px
$tablet: 768px
$desktop: 1024px

@media only screen and (max-width: $phone)

  #mobile-hide
    display: none
  body
    main
      nav
        flex-direction: column
        section.about
          z-index: 10
          position: relative
          &_left
            width: calc(100vw - 15px)

            h1
              color: #00ff00

          &_right
            left: 0
            top: 0

            h1
              float: left
              margin: 30px 0 0 15px

          h1

            font-size: 5vw

          &_info
            top: 15vh
            width: calc(100vw - 30px)
            left: 15px
            z-index: 10

            p
              font-size: 5vw
              line-height: 1.1em

            span.close
              font-size: 1.8em
              top: 1px
              left: 0
  body
    main
      img.hi-2-u
        position: fixed
        z-index: 0

        &-right
          display: none

        &-left
          top: 20vh
          left: 30vw
          width: 40vw

        &.in_view
          display: none



@media only screen and (min-width: $phone) and (max-width: $tablet)

  body
    main
      nav
        section.about

          &_left
            width: 35vw
          h1
            font-size: 2.6vw

          &_info
            width: 30vw

  body
    main
      img.hi-2-u
        &-left
          top: 50vh
          left: 10vw
          width: 25vw
          
        &.in_view
          display: none



@media only screen and (min-width: 2000px)

  body
    main
      nav
        section.about

          &_left
            width: 20vw
            max-width: 450px
          h1
            font-size: 2em

          &_info
            width: 30vw



// @media only screen and (min-width: $tablet) and (max-width: $desktop)
//   main
