@font-face {
  font-family: Gramatika;
  src: url(fonts/GramatikaRegular.woff); }

@font-face {
  font-family: Gramatika_Italic;
  src: url(fonts/GramatikaSlanted.woff); }

@font-face {
  font-family: Gramatika_Bold;
  src: url(fonts/GramatikaBold.woff); }

@font-face {
  font-family: Gramatika_Bold_Italic;
  src: url(fonts/GramatikaBoldSlanted.woff); }

* {
  margin: 0;
  padding: 0; }

body {
  font: 100% "Gramatika_Bold", sans-serif;
  background-color: white;
  color: black;
  width: 100vw; }
  body main {
    height: 200vh; }
    body main nav {
      display: flex;
      position: relative; }
      body main nav section {
        position: fixed; }
        body main nav section h1 {
          font-size: 2.2vw; }
          body main nav section h1 span.to-right {
            display: inline-block;
            float: right;
            font-style: italic; }
        body main nav section.left {
          width: 26vw; }
          body main nav section.left h1 {
            margin: 30px 0  0 15px; }
        body main nav section.right {
          right: 0;
          top: 0; }
          body main nav section.right h1 {
            float: right;
            margin: 30px 15px  0 0;
            cursor: default; }
        body main nav section.middle {
          top: 10px;
          width: 25vw;
          left: 50vw;
          display: none; }
          body main nav section.middle p {
            font-size: .8em; }
          body main nav section.middle.in_view {
            display: block; }
          body main nav section.middle span.close {
            width: 30px;
            height: 30px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: -30px; }
